<h3 class='text-primary'>Datos del Usuario</h3>

<div>
	<div class='form-group row'>
		<label for='firstName' class='col-sm-2 col-form-label'>Nombre: </label>
		<div class='col-sm-10'>
			<input id='firstName' class='form-control' type='text' name='firstName' value='{{userInfo.firstName}}' disabled />
		</div>
	</div>
	<div class='form-group row'>
		<label for='lastName' class='col-sm-2 col-form-label'>Apellido: </label>
		<div class='col-sm-10'>
			<input id='lastName' class='form-control' type='text' name='lastName' value='{{userInfo.lastName}}' disabled />
		</div>
	</div>
	<div class='form-group row'>
		<label for='age' class='col-sm-2 col-form-label'>Edad: </label>
		<div class='col-sm-10'>
			<input id='age' class='form-control' type='text' name='age' value='{{userInfo.age}}' disabled />
		</div>
	</div>
	<div class='form-group row'>
		<label for='address' class='col-sm-2 col-form-label'>Dirección: </label>
		<div class='col-sm-10'>
			<input id='address' class='form-control' type='text' name='address' value='{{userInfo.address}}' disabled />
		</div>
	</div>
	<div class='form-group row'>
		<label for='email' class='col-sm-2 col-form-label'>Email: </label>
		<div class='col-sm-10'>
			<input id='email' class='form-control' type='text' name='email' value='{{userInfo.email}}' disabled />
		</div>
	</div>
	<div class='form-group row'>
		<label for='phoneNumber' class='col-sm-2 col-form-label'>Teléfono: </label>
		<div class='col-sm-10'>
			<input id='phoneNumber' class='form-control' type='text' name='phoneNumber' value='{{userInfo.phoneNumber}}' disabled />
		</div>
	</div>
</div>