<div class='container' style='width:50%'>
	<div class='starter-template'>
		<h2>Datos del proceso</h2>

		<ul>
			<li>Mensaje: {{info.msg}}</li>
			<li>Argumentos de entrada: {{info.entry_args}}</li>
			<li>Nombre de la plataforma (sistema operativo): {{info.platform}}</li>
			<li>Versión de Node: {{info.nodeVersion}}</li>
			<li>Memoria total reservada (rss): {{info.reservedMemory}}</li>
			<li>Path de ejecución: {{info.execution_path}}</li>
			<li>Process id: {{info.process_id}}</li>
			<li>Carpeta del proyecto: {{info.project_path}}</li>
			<li>Número de CPUs del servidor: {{info.server_cpu_number}}</li>
		</ul>
	</div>
</div>